.App {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-height: 100vh;
  font-family: Arial, sans-serif;
  padding: 20px;
}

input, .input-with-icon textarea {
  font-size: 16px;
  padding: 10px 40px 10px 10px;
  margin: 5px 0;
  border: 2px solid #e0e0e0;
  background-color: #fff;
  border-radius: 4px;
  width: 100%;
  box-sizing: border-box;
  resize: none;
  overflow-y: hidden;
}

.messages-container {
  max-height: 400px;
  overflow-y: auto;
  width: 100%;
  max-width: 600px;
  border: 1px solid #ccc;
  margin-top: 20px;
  padding: 10px;
}

.submission {
  width: 600px;
  max-width: 100%;
  border: 1px solid #ddd;
  padding: 20px;
  border-radius: 5px;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  background-color: #fff;
  margin-bottom: 10px;
  position: relative;
  overflow-wrap: break-word;
  align-items: center;
}

.submission-header {
  position: absolute;
  top: -10px;
  left: 20px; /* Adjusted from 10px to 20px to prevent cropping */
  background-color: #fff;
  padding: 0 5px;
  border-radius: 3px;
  font-weight: bold;
  color: #007bff;
}

.input-with-icon {
  position: relative;
  display: flex;
  align-items: center;
  width: 80%;
  max-width: 800px;
  margin: auto;
}

.input-with-icon .submit-icon {
  cursor: pointer;
  position: relative;
  right: 35px;
  color: #007bff;
  font-size: 20px;
  background-color: transparent;
}

.submission p, .submission small {
  color: #333;
  margin: 0 0 10px 0;
  font-size: 16px;
}

.submission small {
  color: #666;
  font-size: 12px;
}

.username-link, .username-link:visited, a[href^="/"]:not(.main-username-link), a[href^="/tag/"] {
  text-decoration: none;
  color: #007bff;
  cursor: pointer;
}

.main-username-link {
  text-decoration: none; /* Removes underline */
  color: #000;
  cursor: pointer; /* Changes cursor to indicate clickability */
  font-weight: bold; /* Ensures the username appears bold */
}

.button-group {
  margin-bottom: 40px; /* Adjust as needed */
}

.world-icon-link {
  position: relative;
  top: 0px;
  right: 0px;
}

.world-icon-link-user-page {
  position: relative;
  top: 0px;
  right: 0px;
}

@media (max-width: 600px) {
  html, body {
    margin: 0;
    padding: 0;
    overflow-x: hidden; /* Prevent horizontal scrolling */
  }

  .button {
    padding: 8px 15px; /* Slightly smaller padding on smaller screens */
    font-size: 14px; /* Adjust font size for smaller screens */
  }

  .App {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: flex-start;
    padding: 10px;
    width: 100%;
    box-sizing: border-box;
  }

  input, .input-with-icon textarea {
    width: 100%; /* Ensure they don't extend beyond the viewport */
    margin: 5px 0; /* Adjust if necessary */
    padding: 10px;
    box-sizing: border-box; /* Include padding in the width calculation */
  }

  .messages-container, .submission {
    width: 100vw; /* Full width but within viewport */
    box-sizing: border-box;
    padding: 10px;
    margin: 0 auto; /* Center these elements */
    margin-bottom: 20px; /* Space between messages */
  }

  .input-with-icon {
    width: 100%; /* Full width */
    display: flex;
    justify-content: center; /* Center children */
    position: relative; /* For absolute positioning of the icon */
  }

  .input-with-icon .submit-icon {
    position: absolute;
    right: 30px; /* Adjust to not overlap the text */
    pointer-events: auto; /* Ensure it's clickable */
  }

  .input-with-icon textarea {
    width: calc(100% - 40px); /* Adjust width to prevent overflow */
    padding: 10px;
    padding-right: 50px; /* Space for the icon */
    box-sizing: border-box;
  }
}
